<h1>Vouchers</h1>
<div id="vouchers_container"> {% for voucher in vouchers %}
			<div id="vouchers">
						<h3>{{ voucher.name }}</h3>
						{{ voucher.original_image_tag }}
						<p>{{ voucher.description }}</p>
						<p>{{ voucher.price | format_money: '&euro;' }}
									{{ voucher.amount_select }}</p>
						<button href="#shopping-card" onclick="{{ voucher.add_voucher_amount_onclick }}" value="Update Search">Add Voucher</button>
			</div>
			{% endfor %} </div>
<div id="cart">
			<h1>Selected Vouchers</h1>
			<div id="shopping-cart" class="clearfix"> {% include 'modules/vouchers_cart' %} </div>
			<!-- end of shopping card -->
</div>
<div style="clear:both; width:50%"></div>
