<form action="https://finnstownhotel.visrez.com/web_vouchers/checkout" class="common-form" method="post">

	{% for voucher in card_vouchers%}
	{% if voucher %}
	  <div id="voucher-{{ voucher_id}}">
      <div style="float: left; width: 60%">
        <h2 class="subtitle">{{ voucher.name }}</h2>
        Quantity: <strong><i>{{ voucher.quantity }}</i></strong><br />
        Price: <strong><i>{{ voucher.price | format_money: '&euro;'}}</i></strong><br/>        
        <br/>
      		<a href="#" onclick="new Ajax.Updater('shopping-card', '/web_vouchers/ajax_add_voucher/{{voucher.id}}', {asynchronous:true, evalScripts:true}); return false;">Add Another</a>&nbsp;|&nbsp;
      		<a href="#" onclick="new Ajax.Updater('shopping-card', '/web_vouchers/ajax_remove_voucher/{{voucher.id}}', {asynchronous:true, evalScripts:true}); return false;">Remove</a>  
      </div>
      <div style="float: left; width: 40%">
        {{ voucher.thumb_tag }}  
      </div>
	  </div>
    {% endif %}
  {% endfor %}
  
  <div class="proceed">
    <strong>Total:  {{ total_price | format_money: '&euro;' }}</strong><br/><br/>
    <input type="image" src="/skin/images/continue_button.png" alt="Book now" />
  </div>

</form>

<br/><br/>
(<a href="#" onclick="new Ajax.Updater('shopping-card', '/web_vouchers/ajax_clear_card', {asynchronous:true, evalScripts:true}); return false;">Cancel Selection</a>)
{% if changed_voucher_id %}
  <script>
      new Effect.Highlight("voucher-{{changed_voucher_id}}",{duration:1.5});
  </script>
{% endif %}
<br style="clear:both;" />
