
<br />
<div id="booking-summary" class="narrow">
  <div class="grey-box">
    <h2>Selected Vouchers</h2>
    
    <table cellpadding="3" cellspacing="0">
      {% for voucher in selected_vouchers%}
        <tr>
          <th style="width: 180px;">{{ voucher.name }}</th>
          <td>Quantity: {{ voucher.quantity }}, Price: {{ (voucher.quantity * voucher.price) | format_money: '&euro;' }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th class="total"><label>Total cost:</label></th>
        <td class="total count-money">{{ total_price | format_money: '&euro;' }}</td>
      </tr>
    </table>
    
  </div>
</div><!-- booking-summary  -->

<form action="/web_vouchers/do_payment" class="common-form" method="post">


<div id="personal-details" class="narrow">
  <div class="grey-box">
    <h2 class="subtitle"><span>Personal Details</span></h2>
    <table cellpadding="3">
     <tr>
		    <th><label for="contact_first_name" class="mandatory">First name</label></th>
		    <td>{{ contact.first_name }}
		    </td>
		  </tr>
		     
			<tr><th><label for="contact_last_name" class="mandatory">Last name</label></th>
  			<td>{{ contact.last_name }}
  			</td>
			</tr>
			
			<tr><th><label for="customer_name">Company name</label></th>
			  <td>
			    {{ customer.name }}
			  </td>
		  </tr>
		  	  
		  <tr><th><label for="customer_address1">Address 1</label></th>
  		  <td>{{ customer.address1 }}
  		  </td>
		  </tr>
		  
		  <tr><th><label for="customer_address2">Address 2</label></th>
		  <td>{{ customer.address2 }}</td></tr>
		  
		  <tr><th><label for="customer_city">City</label></th>
  		  <td>{{ customer.city }}
  		  </td>
		  </tr>
		  
		  <tr><th><label for="customer_postcode">Postcode</label></th>
  		  <td>{{ customer.postcode }}
  		  </td>
		  </tr>
		  
		  <tr>
		  	<th><label for="customer_country" class="mandatory">Country</label></th>
		  	<td>
		  		{{ customer.country	}}
		  	</td>
		  </tr>
		  
		  <tr><th><label for="contact_email">Email</label></th>
			  <td>
			    {{ contact.email }}
			  </td>
			</tr>
		     
		  <tr><th><label for="contact_phone" class="mandatory">Phone</label></th>
  		  <td>{{ contact.phone }}
  		  </td>
		  </tr>
		  		  
    </table>
  </div>
</div><!-- personal-details -->
   
<div id="personal-details" class="narrow">
  <div class="grey-box">
    <h2 class="subtitle"><span>Recipient Details</span></h2>
    <table cellpadding="3">
     <tr>
		    <th><label for="r_contact_first_name" class="mandatory">First name</label></th>
		    <td>{{ r_contact.first_name }}
		    </td>
		  </tr>
		     
			<tr><th><label for="r_contact_last_name" class="mandatory">Last name</label></th>
  			<td>{{ r_contact.last_name }}
  			</td>
			</tr>
			  
		  <tr><th><label for="recipient_address1">Address 1</label></th>
  		  <td>{{ recipient.address1 }}
  		  </td>
		  </tr>
		  
		  <tr><th><label for="recipient_address2">Address 2</label></th>
		  <td>{{ recipient.address2 }}</td></tr>
		  
		  <tr><th><label for="recipient_city">City</label></th>
  		  <td>{{ recipient.city }}
  		  </td>
		  </tr>
		  
		  <tr><th><label for="recipient_postcode">Postcode</label></th>
  		  <td>{{ recipient.postcode }}
  		  </td>
		  </tr>
		  
		  <tr>
		  	<th><label for="recipient_country" class="mandatory">Country</label></th>
		  	<td>
		  		{{ recipient.country }}
		  	</td>
		  </tr>
		  
		  <tr><th><label for="contact_email">Email</label></th>
			  <td>
			    {{ r_contact.email }}
			  </td>
			</tr>
		     
		  <tr><th><label for="r_contact_phone" class="mandatory">Phone</label></th>
  		  <td>{{ r_contact.phone }}
  		  </td>
		  </tr>
		  
    </table>
  </div>
</div><!-- personal-details -->
   
<div id="credit-details" class="narrow">
  <div class="grey-box">
    <h2 class="subtitle"><span>Payment Details</span></h2>
    <table cellpadding="3">
      <tr>
        <th>Card type:</th>
        <td>
          {{ creditcard.type }}
        </td>
      </tr>
      <tr>
        <th>First name on card:</th>
        <td>{{ creditcard.first_name }}
        </td>
      </tr>
      <tr>
        <th>Last name on card:</th>
        <td>{{ creditcard.last_name }}
        </td>
      </tr>

      <tr id="cvv_number">
        <th>CVV:</th>
        <td>
          {{ creditcard.verification_value }}
        </td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td style="font-style: italic;">
          Month&nbsp;/&nbsp;Year
        </td>
      </tr>
      <tr>
        <th>Expiry date:</th>
        <td>
          {{ creditcard.month }}&nbsp;/&nbsp;{{ creditcard.year }}
        </td>
      </tr>
    </table>
  </div><!-- .grey-box -->
</div><!-- credit-details -->
<br />
    
    <div class="procced" style="text-align: center; margin: 20px 0;">
      <input type="image" src="/skin/images/continue_button.png" alt="Finish booking" />
    </div>
    

</form>
