{% assign common_version = 'v_003' %}
{% assign step = 2 -%}
<div id="didnt_found_tickets">
	{% include 'modules/tickets_visualnav' -%}
	{% include 'modules/tickets_feedback' -%}	
		
		<div class="didnt_found-wrapper">
					<h2>Events Booking</h2>
			
					<h3>No tickets available</h3>
					<p>Unfortunately we have no tickets available for this event at present. 
					If you would like to be added to a waiting list please 
					<a href="/ticket_booking/waiting_list_form?event_id={{ booking.event_selected }}&day={{ booking.day }}&quantity={{ booking.quantity }}">click here</a><br />
					Alternative search additional events below:</p>
			
			
					<div id="event_calendar_wrapper">
						{{ booking.format_calendar }}
					</div><!-- event_calendar_wrapper -->
				
					<div id="ticketslist">
						<h2>Events list</h2>
						<ul>
							{% for event in events %}
							<li><a href="/ticket_booking/calendar_overview/?event_id={{ event.id }}" {% if event.is_selected %}id="active" {% endif %}>{{ event.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
				
					<div id="calendar_cont">
						{{ calendar }}
					</div>
		</div><!-- didnt_found-wrapper -->

</div>
		

