{% assign common_version = 'v_003' %}
{% assign step = 2 -%}
<div id="found_tickets">
		{% include 'modules/tickets_visualnav' -%}
		{% include 'modules/tickets_feedback' -%}	
		
		<!-- h2>Found tickets</h2 -->

		<div class="found-wrapper clearfix">
		
				{% if event.has_image -%}
				<div class="found-image">
					{{ event.image_tag }}
				</div>
				{% endif %}
			 
				<div class="found-text">
						<h3>{{ event.name }}</h3>
						<p><strong>Location: </strong> {{ event.location }}</p>
						<p><strong>Description: </strong {{ event.description }}></p>
						
						<div class="found-ticket">			
								<!-- h4>Enter Tickets and click next</h4 -->
								<!-- 
									<select onchange="showAvailabilityTime(this)">
									{% for at in ats -%}
										<option value="{{ at.id }}">{{ at.time }}</option>  
									{% endfor %}
									</select>
								-->
								{% for at in ats -%} 
									<div id="time_{{ at.id }}" class="time_element" {% if at != ats.first %}style="display: none;"{% endif %}>
									</div>
									
									<form action="/ticket_booking/terms_and_conditions" method="post">
										
										{% unless at.name == '' -%}  
												<!-- 
												Name {{ at.id }} {{ at.weekday }} <br />
												{{ at.name }}<br />
												
												Date: {{ booking.day | format_date_to: 'eu' }}<br />
												Time: {{ at.time_frame }}<br />
												<br />
												-->
												<div class="found-items clearfix">
												{% for ticket in at.tickets %}
														<div class="found-item">
														<span class="price"><strong>{{ ticket.name }}</strong>: {{ ticket.price | format_money: '&euro;' }}</span> {{ ticket.ticket_select_options }} 
														</div>
												{% endfor %}
												</div>
												
												{% if at.contains_website_discount -%}
												<div class="found-discount">
													Web discount( {{ at.website_discount | format_percent }} ): - {{ at.website_discount_price | format_money: '&euro;' }}
												</div>
												{% endif -%}   
												
												<div class="found-total active1" style="display: none;" id="totalcost">
													<!-- Booking fee: {{ at.booking_fee | format_money: '&euro;' }}<br /> -->
													<strong>Total cost</strong>: <span id="ticket_{{ at.id }}_price" class="price">{{ at.total_cost | format_money: '&euro;' }}</span>
													<input type="hidden" name="booking[date]" value="{{ booking.date }}" />
													<input type="hidden" name="booking[quantity]" value="{{ booking.quantity }}" />
													<input type="hidden" name="booking[customer_type_selected]" value="{{ booking.customer_type_selected }}" />
													<input type="hidden" name="booking[pa_selected]" value="{{ at.id }}" />
												</div>
												<div class="buttons">
													<button type="submit" value="button_next" name="button_next" onclick="javascript:alert('fix event with time');">Next</button>
												</div>
										{% endunless -%}
								 </form>
								 {% endfor -%}
								 <div id="price"> </div>
						</div><!-- found-ticket -->



				</div><!-- found-text -->
				
				
				
		</div><!-- End found-wrapper -->
		
</div><!-- End found_tickets -->