{% assign common_version = 'v_001' %}
{% assign step = '4' -%}
<div id="checkout" >
		{% include 'modules/tickets_visualnav' -%}
				
		<!-- h2>Payment Details</h2 -->
		<div class="chekout-wrapper clearfix">
		
			<div class="checkout-form">
					{% include 'modules/tickets_feedback' -%}	

					<p class="forminfo">Please complete our secure form below to make your reservation.</p>
					
					<form action="/ticket_booking/do_payment" class="common-form" method="post" id="form_reservation">
						<fieldset>
							<legend>Personal Details</legend>        
					
							<p class="clearfix"><label for="contact_first_name">First name</label><input id="contact_first_name" class="required" type="text" size="30" name="contact[first_name]" value="{{ contact.first_name }}" />
							<!-- span class="formError {{ contact | set_style_for_error: 'first_name', 'visible' }}">{{ contact | error_messages_on: 'first_name' }}</span -->
							</p>
							
							<p class="clearfix"><label for="contact_last_name">Last name</label>
								<input id="contact_last_name" class="required" type="text" size="30" name="contact[last_name]" value="{{ contact.last_name }}" />
								<!-- span class="formError {{ contact | set_style_for_error: 'last_name', 'visible' }}">{{ contact | error_messages_on: 'last_name' }}</span -->
							</p>
							
							<p class="clearfix"><label for="customer_address1">Address 1</label>
								<input id="customer_address1" class="required" type="text" size="30" name="customer[address1]" value="{{ customer.address1 }}" />
								<!-- span class="formError {{ customer | set_style_for_error: 'address1', 'visible' }}">{{ customer | error_messages_on: 'address1' }}</span -->
							</p>
							
							<p class="clearfix"><label for="customer_address2">Address 2 <!-- span class="optional">(optional)</span --></label>
								<input id="customer_address2" type="text" size="30" name="customer[address2]" value="{{ customer.address2 }}"/>
								<!-- span></span -->
							</p>
									
							<p class="clearfix"><label for="customer_city">City</label>
								<input id="customer_city" class="required" type="text" size="30" name="customer[city]" value="{{ customer.city }}" />
								<!-- span class="formError {{ customer | set_style_for_error: 'city', 'visible' }}">{{ customer | error_messages_on: 'city' }}</span -->
							</p>	
							
							<p class="clearfix"><label for="customer_postcode">Postcode</label>
								<input id="customer_postcode" class="required" type="text" size="30" name="customer[postcode]" value="{{ customer.postcode }}" />
								<!-- span class="formError {{ customer | set_style_for_error: 'postcode', 'visible' }}">{{ customer | error_messages_on: 'postcode' }}</span -->
							</p>	
							
							<p class="clearfix"><label for="customer_country">Country</label>
							<select id="customer_country" name="customer[country]" class="required validate-selection">{{ customer.country_options_for_select }}</select>
							<!-- span></span -->
							</p>
						
							<p class="clearfix"><label for="contact_email">Email</label>
								<input id="contact_email" class="required validate-email" type="text" size="30" name="contact[email]" value="{{ contact.email }}" />
								<!-- span class="hint">Insert a valid email address in the pattern of blah@blah.blah</span -->
								<!-- span class="formError {{ contact | set_style_for_error: 'email', 'visible' }}">{{ contact | error_messages_on: 'email' }}</span -->
							</p>  
								
							<p class="clearfix"><label for="contact_phone">Phone</label>
								<input id="contact_phone" class="required validate-number" type="text" size="30" name="contact[phone]"  value="{{ contact.phone }}" />
								<!-- span class="formError {{ contact | set_style_for_error: 'phone', 'visible' }}">{{ contact | error_messages_on: 'phone' }}</span -->
							</p>
						
							<p class="clearfix" id="contact-ezine"><label for="contact_ezine">To accept updates and news <!-- span class="optional">(optional)</span --></label>
									<input id="contact_ezine" class="checkbox" type="checkbox" checked="checked" value="{{ contact.ezine }}" name="contact[ezine]" />
									<input type="hidden" value="{{ contact.ezine }}" name="contact[ezine]"/>
									<input type="hidden" name="contact[contact_type]" value="Main contact" />
									<!-- span></span-->
							</p>
						</fieldset><!-- end of Personal details -->
					
					
					
						<fieldset>
							<legend>Payment Details</legend>
							<p>Please note that a non-refundable booking deposit will be charged to your credit card. The remaining amount is to be paid on departure from the hotel.</p>
							
							<p class="clearfix"><label for="creditcard_first_name">First name on card</label>
									<input id="creditcard_first_name" class="required" type="text" size="29" name="creditcard[first_name]" value="{{ creditcard.first_name }}" />
									<!-- span class="formError {{ creditcard | set_style_for_error: 'first_name', 'visible' }}">{{ creditcard | error_messages_on: 'first_name' }}</span -->
							</p>
							
							<p class="clearfix"><label for="creditcard_last_name">Last name on card</label>
									<input id="creditcard_last_name" class="required" type="text" size="29" name="creditcard[last_name]" value="{{ creditcard.last_name }}" />
									<!-- span class="formError {{ creditcard | set_style_for_error: 'last_name', 'visible' }}">{{ creditcard | error_messages_on: 'last_name' }}</span -->
							</p>
									
							<p class="clearfix"><label for="creditcard_number">Card number</label>
									<img src="{{ "images/ico_card_none.png" | common_asset: common_version }}" id="creditcard_image" alt="credit card type"/>
									<input id="creditcard_number" class="required validate-number validate-luhn"  type="text" size="29" name="creditcard[number]" value="{{ creditcard.number }}" style=" width:160px" /> 
									<input type="hidden" name="creditcard[type]" id="creditcard_type" />
									<!-- span class="hint">Do not insert spaces</span>
									<span class="formError {{ creditcard | set_style_for_error: 'number', 'visible' }}">{{ creditcard | error_messages_on: 'number' }}</span -->
							</p>
					
							<p id="cvv_text" class="clearfix">
										<label for="creditcard_verification_value">CVV</label>
									<input id="creditcard_verification_value" class="validate-number" type="text" size="10" name="creditcard[verification_value]"  value="{{ creditcard.verification_value }}" />
									<span class="whatsthis"><a href="javascript:void(0);" onclick="Modalbox.show($('cvv_popup'),{title:'What\'s CVV Number?',width: 600});">What's CVV Number?</a></span>
									<!-- span class="hint">Do not insert spaces. CCV (Card Code Verification) is a three-digit number on the back printed of your credit card. American Express has a four-digit number on the front.</span -->
							</p>
							<div id="cvv_popup"  style="display:none;">
								<p>CVV2 is an extra 3-4 digit number located on your credit card and is used to help prevent credit card fraud. It is in no way associated with your credit card's PIN number. We request that you include this number for security purposes. Visa, Mastercard, Discover.</p>
								<p>Your CVV2 number can be located on the back of your credit card. It is a 3 digit number located in the top-right corner of the signature box. Please refer to the images below for more information. American Express: Your CVV2 number can be located on the front of your credit card. </p>
								<p>It is a 4 digit number located directly to the upper-right of your credit card number. Please refer to the images below for more information.</p>
								<p><img src="{{ "images/cvv2.gif" | common_asset: common_version }}" alt="cvv2" /></p>
							</div>
			
							<p class="clearfix"><label for="creditcard_month">Expiry Date</label>
									<select id="creditcard_month" style="width: 95px;" name="creditcard[month]">{{ creditcard.options_for_months }}</select>
									<select id="creditcard_year" style="width: 70px;" name="creditcard[year]">{{ creditcard.options_for_years }}</select>
									<!-- span class="hint">The expiry date must be next your booking arrival date</span -->
							</p>
							<!-- script type="text/javascript">card_cvv('creditcard_type','cvv_number');</script -->	
						</fieldset><!-- end of Payment details -->
					
						<!-- fieldset id="terms-conditions">
								<legend>Terms &amp; Conditions</legend>
								<p class="clearfix">
										<label for="terms_conditions">
										<input id="terms_conditions" class="required"  type="checkbox" name="terms_conditions" /></label>
										<a href="javascript:void(0);" onclick="javascript:$('terms_and_condictions').toggle();">I accept the Terms &amp; Conditions </a>	
								</p>
								<p id="terms_and_condictions" style="display:none;">{{ selected_property.terms_and_conditions | with_new_lines }}</p>
								<input type="hidden" value="0" name="terms_conditions" />		
						</fieldset -->
						
						<div class="buttons"><button id="makereservation" type="submit" value="Make Reservation">Make Reservation</button></div>	
						<script type="text/javascript">
							new Validation('form_reservation', {immediate : true});
							CreateFieldFocusColorChanges("form_reservation");
							CreditCardOptions['cvv_field'] = 'cvv_text';
							CreditCardOptions['image_path'] = "https://ssl_assets.visrez.com/roomsandevents/common/v_001/images/";
							CreateCreditCardTypeChecker("creditcard_number");
						</script>
	

					</form>
		
			 </div>
			<!-- end checkout-form -->
			
			
			<div class="checkout-cart">
				<h3>Tickets Ordered</h3>
				{% include 'modules/tickets_cart' -%}
			</div>
			<!-- end checkout-cart -->
	</div>
	<!-- end wrapper -->	

</div>
<!-- end payment_tickets -->


