<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<!-- common_version =  v_003 --> 
	{% assign common_version = 'v_003' %}
	
  	<title>Visrez - ClearSkin v. 3.0 - Events</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta http-equiv="content-language" content="en" />
  	<meta name="robots" content="index, follow" />
	<meta name="description" content="Events Manager - Visrez" />
	<meta name="keywords" content="Event,tickets,manager,booking,ticket,visrez" />
	<meta name="cache-control" content="no-cache" />


	<!-- STYLESHEETS -->
	{{ "website" | style_sheet }}
	{{ "screen" | style_sheet }}
	<!--[if IE ]>
	{{ "ie" | style_sheet }}
	<![endif]-->
	
	<link href="{{ "stylesheets/modalbox.css" | common_asset: common_version }}" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="{{ "stylesheets/jscalendar/calendar-green.css" | common_asset: common_version }}" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="{{ "stylesheets/validation.css" | common_asset: common_version }}" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="{{ "stylesheets/globalfunctions.css" | common_asset: common_version }}" media="screen,projection" rel="stylesheet" type="text/css" />

	{{ "screen.tickets" | style_sheet }}

	<link href="{{ "stylesheets/print.css" | common_asset: common_version }}" media="print" rel="stylesheet" type="text/css" />
	{{ "print.custom" | style_sheet: 'print' }}

	<!-- SCRIPTS -->
	{{ "prototype" | google_include }}
	{{ "scriptaculous" | google_include }}

	<script src="{{ "javascripts/application_tickets_02.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/calendar.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/calendar-setup.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/calendar-en.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/modalbox.visrez.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/globalfunctions.js" | common_asset: common_version }}" type="text/javascript"></script>
	<script src="{{ "javascripts/validation.js" | common_asset: common_version }}" type="text/javascript"></script>

	{{ content_for_header }}
</head>
<body>
{% if third_party.is_set %}<div id="thirdparty">Booking as 3th party: {{ third_party.name }}</div>{% endif %}
<div id="pagewidth">
	<div id="wrapped">
			<!-- HEADER -->
			<div id="header">
					<div id="logo"><h1><a href="/index.shtml" title="Home Page">Visrez Ticket Booking Engine</a></h1></div>
					<div id="text-info"><p>Standard Skin for Events</p></div>
					<!-- skip links START -->
					<div id="skiplinks">
						<ul>
							<li><a accesskey="M" href="#content">Go to Main Content</a></li>
							<li><a accesskey="F" href="#footer">Go to Footer</a></li>
						</ul>
					</div>
					<!--  skip links END -->
					
					<div id="green-bar"> </div>
			</div>
			<!-- HEADER -->
			
			<hr/>

			<!-- BOOKING -->
			<div id="content">
					{% if (step == 1) -%}
						{% include 'modules/ticket_search' -%} 
					{% endif -%}

					{% if (step == 2) -%}
						{% include 'modules/ticket_search' -%} 
					{% endif -%}

					{% if (step == 3) -%}
						{% include 'modules/ticket_search' -%} 
					{% endif -%}

					<div id="booking">
					{{ content_for_layout }}
					</div>

			</div>
			<!-- BOOKING -->

	</div>
	
	<hr />
	
	<!-- FOOTER -->
	<div id="footer">
		<p><strong>Visrez</strong>, 22 South William Street, Dublin 2 - Tel: +353 (0)1 6792212 - Fax: +353 (0)1 6708599
		<br />Visrez Ltd, Registered in Ireland No: 315037, Vat Reg: IE6335037T</p>
	</div>
	<!-- FOOTER -->
	
</div>

{{ google_analytics_code }}

</body>
</html>