  <div style="padding: 0 1em;">
  {% if flash.error != blank -%}
  <h2 class="flash-error">{{ flash.error }}</h2>
  {% endif -%}
  {% if flash.warning != blank -%}
  <h2 class="flash-warning">{{ flash.warning }}</h2>
  {% endif -%}
  {% if flash.notice != blank -%}
  <h2 class="flash-notice">{{ flash.notice }}</h2>
  {% endif -%}
  </div>

<!-- Courses -->

<!-- Date -->
<form action="/golf_booking/select_tee_times" method="post">
<select id="booking_event_selected" name="course" onchange="" style="width: 12em;">{{ booking.golf_select_options }}</select><br/>

From: <input class="datefield" id="date_from" name="date_from" style="width: 70px;" value="{{ booking.date | format_date_to: 'eu' }}" type="text">
<img alt="Calendar" id="day_calendar" onmouseout="this.style.background=''" onmouseover="this.style.background='red';" src="/skin/images/calendar.png?1185985916" style="border: 1px solid red; vertical-align: middle; cursor: pointer;" title="Select date"><script type="text/javascript">Calendar.setup({inputField :"date_from", ifFormat:"%d.%m.%Y", button:"day_calendar"});</script>

To: <input class="datefield" id="date_to" name="date_to" style="width: 70px;" value="{{ booking.date | format_date_to: 'eu' }}" type="text">
<img alt="Calendar" id="day_calendar" onmouseout="this.style.background=''" onmouseover="this.style.background='red';" src="/skin/images/calendar.png?1185985916" style="border: 1px solid red; vertical-align: middle; cursor: pointer;" title="Select date"><script type="text/javascript">Calendar.setup({inputField :"date_to", ifFormat:"%d.%m.%Y", button:"day_calendar"});</script><br/>

Players:
1 <input type="radio" name="players" value="1" checked="checked"/>
2 <input type="radio" name="players" value="2"/>
3 <input type="radio" name="players" value="3"/>
4 <input type="radio" name="players" value="4"/><br/>

any <input type="radio" name="time" value="any" checked="checked"/><br/>
morning <input type="radio" name="time" value="morning"/><br/>
afternoon <input type="radio" name="time" value="afternoon"/><br/>
evening <input type="radio" name="time" value="evening"/><br/>

<input class="submit" type="submit" alt="Update search" value="Update search" style="margin-left: 5px; width: 110px;" />

</form>
