<h2>Available tee times {% if time != 'any' %} in the {{ time }}{% endif %}</h2>
<form action="/golf_booking/terms_and_conditions/{{ golf_course.id }}" method="post">
  {% for golf_day in golf_days %}
    <h3>{{ golf_day.date | format_date_to: 'eu' }}</h3>
    <table>
      <tr>
        <td>Time</td>
        <td>Price</td>
        <td>Select</td>
      </tr>
    {% for golf_time in golf_day.golf_times %}
      <tr>
        <td>
          {{ golf_time.time }} 
        </td>
        <td>
          {{ golf_time.price | format_money: '&euro;' }}   
        </td>
        <td>
          {% if golf_time.is_booked == true %}
            n/a
          {% else %}  
            <input type="checkbox" name="golf_time[{{ golf_time.id }}]" value="1"/>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endfor %}

  <input type="submit" value="Select times"/>
</form>
