{% if rate.is_available -%}

<div class="rate_image">{{ rate.image_tag }}</div>

{% if rate.is_ticket_rate %}
	{% for ticket in rate.tickets %}
		Event: {{ ticket.event_name }}<br/>
		Description: {{ ticket.event_description }}<br/>
		Ticket type: {{ ticket.ticket_type }}<br/>				
		
		{{ ticket.image_tag }}<br/>
		{{ ticket.image_tags }}<br/>
		
	{% endfor %}
{% endif %}

	<table class="available">
		<thead>
		<tr>
			<th class="ratename">{{ rate.name }}</th>
			{% for day in rate_search_drop.days -%}
				<th scope="col">{{ day | date: "%d %b" }}<br />{{ day | date: "%a" }}</th>
			{% endfor -%}				
			<th scope="col">Total <br />&euro;</th>
			<td class="butt-book"></td>
		</tr>
		</thead>	
	
		{% for room_type in rate.room_types -%}	
		<tr>
			<th scope="row" class="roomtype"><a href="#" onclick="toggle_room('long_desc_{{ room_type.id }}'); return false;" id="room_{{ room_type.id }}">{{ room_type.name }}</a></th>
			{% for day in room_type.days -%}
				{% if day.is_available %}
					<td class="{{ day.available_class }}" >&euro;{{ day.price_for_day | format_decimal }}</td>
				{% else -%}
					<td class="not-available">n/a</td>
				{% endif %}
			{% endfor -%}
			<td class="total">{{ room_type.room_price_for_period | format_decimal }}</td>
			<td class="butt-book">
				{% if room_type.is_available_for_period -%}
					<a href="{{ room_type.liquid_book_link_params }}" class="book"><span class="alt">Book</span></a>
				{% else -%}
					<div class="no-book">n/a</div>
				{% endif -%}
			</td>
		</tr>
		<tr class="room-desc">
			<td colspan="9">
				<div id="long_desc_{{ room_type.id }}" style="display:none" class="long_desc clearfix">
					<div class="long_image">{{ room_type.image_link }}</div>
					<div class="long_description">{{ room_type.long_description }}</div>
				</div>
			</td>
			<td class="butt-book"></td>
		</tr>
		{% endfor -%}
	</table>
{% endif -%}