<div id="search">
	<form action="{{ html.availability_action }}" method="post" id="availability_search_form">
		<p><label for="arrival_date">Arrival</label>
		<input type="text" id="arrival_date" name="rate_search_container[arrival_date]" value="{{ arrival_date }}" />
		<a href="#"><img alt="Calendar" id="day_calendar" src="{{ "images/calendar.gif" | common_asset }}" /></a>
		<script type="text/javascript">Calendar.setup({inputField: "arrival_date", ifFormat: "%d.%m.%Y", button: "day_calendar"});</script>
		</p>
		
		<p><label for="reservation_search_nights">Nights</label>
		<select name="nights" id="reservation_search_nights">
		{% for i in (1..7) -%}
			<option value="{{i}}"{% if nights == i -%} selected="selected"{% endif -%}>{{i}}</option>
		{% endfor -%}
		</select>
		</p>
	 
		<p>
			<label for="property">Hotel</label>
			<select name="property" id="property">
				{% for p in properties %}
					<option value="{{ p.id }}">{{ p.name }}</option>
				{% endfor %}
			</select>
		</p>
		<p>
			<button type="submit" onclick="Modalbox.show($('loadingbox1'),{width: 600,top: 125,inactiveFade:false});Modalbox.deactivate();" value="Check Availability" id="searchbutton">Check Availability</button>
		</p>          
	</form>
	
	<div id="loadingbox1" class="loadingbox" style="display:none;"><h3>Checking Availability</h3><p>Please wait...</p><img src="/skin/images/ajax-loader_small.gif" alt="Loading..."/></div>

</div>
