	{% assign common_version = 'v_003' %}
	<div id="search">
			<form action="{{ html.search_tickets_action }}" method="post">
				<p>
					<label for="booking_date">Booking date</label>
					<input id="booking_date" name="booking[date]" value="{{ booking.date | format_date_to: 'eu' }}" type="text" />
					<a href="#"><img alt="Calendar" id="day_calendar" src="{{ "images/calendar.gif" | common_asset: common_version }}" /></a>
					<script type="text/javascript">Calendar.setup({inputField :"booking_date", ifFormat:"%d.%m.%Y", button:"day_calendar"});</script>
				</p>
				
				<p>
					<label for="booking_event_selected"></label>
					<select id="booking_event_selected" name="booking[event_selected]" onchange="" >{{ booking.event_select_options }}</select>
				</p> 
				<!-- input class="submit" type="submit" alt="Update search" value="Update search" / -->
				<p>
					<button type="submit" onclick="Modalbox.show($('loadingbox1'),{width: 600,top:125});" value="Search Tickets" id="searchtickets">Search Tickets</button>
				</p>   
			</form>
			<div id="loadingbox1" class="loadingbox" style="display:none;">
				<h3>Searching Tickets</h3><p>Please wait...</p><img src="{{ "images/ajax-loader_220x19.gif" | asset_url }}" alt="Loading..."/>
			</div>
	</div>