<div id="container2">
	<div id="offer">
	<form action="/web_booking/search_tickets" class="common-form" method="post">
		<div id="menu2">
		    <ul class="clearfix">
		      <li class="{% if step == 1 %}checked{% endif %}"><a href="/web_booking">DATES</a></li>
		      <li class="{% if step == 2 %}checked{% endif %}"><a href="#">TICKETS</a></li>
		      <li class="{% if step == 3 %}checked{% endif %}"><a href="#">PAYMENT</a></li>
		      <li class="{% if step == 4 %}checked{% endif %}"><a href="#">CONFIRMATION</a></li>
		    </ul>
		</div>	 
	    <div style="padding: 0 1em;"><!--
		    {% if flash.error != blank -%}
		    <h2 class="flash-error">{{ flash.error }}</h2>
		    {% endif -%}
		    {% if flash.warning != blank -%}
		    <h2 class="flash-warning">{{ flash.warning }}</h2>
		    {% endif -%}
		    {% if flash.notice != blank -%}
		    <h2 class="flash-notice">{{ flash.notice }}</h2>
		    {% endif -%}
	    --></div>
	</div>

	<div style="text-align: center; width: 400px; font-size: 10pt; margin: 0 auto;">
	    Dear <b>{{ customer.name }},<br />
	    Your booking has been registered and we have sent a confirmation email to your designated email address.<br />
	    Please ensure you print and retain a copy of this page.
	</div>
	<br />
	<div style="text-align:center;margin: 0 auto; font-size: 12pt;border:1px solid black; width: 200px;">
	    <b>Booking ref # <label style="color:#901A0E;">{{ booking.reference_number }}</label></b>
	</div>

		
	<h3>Booking summary</h3>
	<div class="box2">
	    <div class="top"><h3>Event details</h3></div>
	      
	      <table cellpadding="3" cellspacing="0" style="margin-left: 12px;" class="print-center">
	        <tr>
	          <td colspan="2">
              <table>
                <tr>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Price</td>
                  <td></td>
                </tr>
              {% for golf_time in golf_times %}
                <tr>
                  <td>
                    {{ golf_time.date | format_date_to: 'eu' }}
                  </td>
                  <td>
                    {{ golf_time.time }} 
                  </td>
                  <td>
                    {{ golf_time.price | format_money: '&euro;' }}
                    for {{ players }} player(s)   
                  </td>
                  <td>
                    {{ golf_time.price | format_money: '&euro;' }}
                    for {{ players }} player(s)   
                  </td>
                </tr>
              {% endfor %}
              </table> 	          
	          </td>
	        </tr>
	        <tr>
	          <td>Event:</td>
	          <td class="count-money">{{ booking.event_name }}</td>
	        </tr>
	        
	        <tr>
	          <td class="total"><label>Total cost:</label></td>
	          <td class="total count-money">{{ booking.total_price | format_money: '&euro;' }}</td>
	        </tr>
	      </table>
	          
	</div>	
	
	<br />
	
	<div style="text-align: center; padding: 0 20px;" class="print-hide">
	    <a class="printer" href="#" onclick="window.print();">Print this page</a>
	    <br style="clear: both;" />
	    We look forward to welcoming you to the Citywest Hotel.
	    <br /><br />
	    <label style="font-weight: 600;">The Citywest Hotel management</label>
	</div>
	<br />
	<div id="logo">&nbsp;</div>

	
</div>	
