
	<!-- start main content default template -->
	<div id="left_column">
			<h2>Booking Online</h2>
	
			<div id="main_content" class="BE-confirmation">

						<h3 class="title_form">Booking Receipt</h3>
						
						<div class="BE-wrapper">
							<p>Thank you for your booking, a confirmation email has been sent to your email address.</p>
							<blockquote>
							<p>Booking ref: #{{ booking.reference_number }}</p>
							<p>This booking is confirmed on: </p>
							<p>Name: {{ customer.name }}</p>	
							<p>Email: </p>	
							</blockquote>
					</div>

		

						<div class="BE-buttons clearfix">
							<button type="button"  value="Print" name="Print" class="button_print" onclick="window.print();">PRINT THIS PAGE</button>
						</div>

			</div>
			<!-- end main content -->
	</div>
	<!-- end left column -->


	<!-- start right column -->
	<div id="right_column" class="BE-right">
		<h4>Tickets Ordered</h4>
		

      <table cellpadding="0" cellspacing="0" id="BE-resume">
      	<!--tr>
          <td>Day:</td>
          <td class="aright">{{ booking.day | format_date_to: 'eu' }}</td>
        </tr -->
        <tr>
          <td>Event:</td>
          <td class="aright">{{ booking.event.name }}</td>
        </tr>
        <tr>
          <td>Location:</td>
          <td class="aright">{{ booking.event.location }}</td>
        </tr>
        <!--tr>
          <td>Time:</td>
          <td class="aright">{{ booking.time.time }}</td>
        </tr -->
        {% for ticket in booking.requested_tickets %}
        	<tr>
        		<td>{{ ticket.quantity }} {{ ticket.name }} ticket(s)</td>
        		<td class="aright">{{ ticket.total_price | format_money: '&euro;' }}</td>
        	</tr>
        {% endfor %}
        
        <!-- tr>
          <td class="aright active1">Booking fee:</td>
          <td class="aright active1">{{ booking.booking_fee | format_money: '&euro;' }}</td>
        </tr -->
        <tr>
          <td class="aright active3"><label>Total Paid:</label></td>
          <td class="aright active3">{{ booking.total_price | format_money: '&euro;' }}</td>
        </tr>
      </table>

	</div>
	<!-- end right column -->


	<!-- start anchor --><div class="anchor"></div><!-- end anchor -->
