
{% for room in rate_search_container.items -%}

	<h2>{{ room.room_type_name}}</h2>
	<a href="/web_reservations/add_room?rate_room_type={{ room.rate_room_type_id }}" onclick="Modalbox.show('<div id=\'loadingbox\'><h3>Checking Availability</h3><p>Please wait...</p><img src=\'/skin/images/ajax-loader_small.gif\' /></div>', {width: 600,top: 125});" class="occupancy add_room">Add another {{ room.room_type_name }}</a>
	<a href="/web_reservations/remove_room/?room_item={{ room.id }}" style="margin-left: 10px;" class="occupancy rem_room">Remove this room</a>
	<div class="box">
		<form id="room_form_{{ room.id }}" class="occupancy" action="ajax_update_room" method="post" onsubmit="new Ajax.Updater('rooms', 'ajax_update_room', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;">			
		<fieldset>
			<p class="title">Occupancy:</p>
				
			<p class="hidden"><input type="hidden" name="id" value="{{ room.id}}" /></p>
			<p><label for="">Adults:</label>{{ room.select_adults }}</p>
		
			<p class="hidden"><input type="hidden" name="id" value="{{ room.id}}" /></p>
			<p><label for="">Children:</label>{{ room.select_children }}</p>			
		</fieldset>
		
		<fieldset>
			<!--p class="title">Options:</p>				
			
			<p class="hidden"--><input type="hidden" name="id" value="{{ room.id}}"/><!--/p>
			<p class="hidden"--><input type="hidden" name="breakfast" value="0" id="breakfast" /><!--/p>
			<p><label for="">Breakfast:</label>{{ room.select_breakfast }}</p -->			
		</fieldset>
		
		{% if room.is_ticket_rate %}
			<fieldset>
				<p class="title">Tickets:</p>				
				
				<p class="hidden"></p>
				<p><label for="">
					{% for event in room.event_names %}
						{{ room.people }} ticket(s) for {{ event }} on {{ rate_search_container.arrival_date | format_date_to: 'eu' }}
					{% endfor %}
					</label>			
				</p>			
			</fieldset>		
		{% endif %}
		</form>
		<p class="roomprice"><strong>Room price:</strong><span id="price_{{ room.id }}"> &euro;{{ room.price | format_decimal }}</span></p>
		<p class="loading-room" id="loading_{{ room.id }}" style="display:none">Loading<img src="/skin/images/ajax-loader_small.gif" alt="Loading" /></p>
	</div>
{% endfor -%}

	
<p id="occupancy-total"><strong>Total:</strong> <span id="total_price">&euro;{{ rate_search_container.total_price | format_decimal}}</span>
	{% if rate_search_container.deposit_charged %}<br /><span style="font-size: 0.8em"><strong>Deposit:</strong> &euro;{{ rate_search_container.charged_price | format_decimal }}{% endif %}</p>
<p>{% if customer_setting.booking_fee > 0 %}Total Price includes a booking fee of  {{ customer_setting.booking_fee | format_money: '&euro;' }} {% endif %}</p>
<!--All of these rooms are bookable? {{ rate_search_container.valid }}-->
