{% assign step = '5' -%}
{% include 'modules/visualnav' -%}
{% include 'modules/feedback' -%}

<h2>Summary</h2>
<div class="box">
	{% for reservation in reservations -%}
	<p><strong>Reservation id:</strong>{{ reservation.id }}</p>
	<p><strong>Check in:</strong>{{ reservation.arrival_date | format_date_to: 'eu' }}</p>
	<p><strong>Check out:</strong>{{ reservation.departure_date | format_date_to: 'eu' }}</p>
	{% for room in reservation.reservation_room_types -%}
		<p><strong>Room type ({{ forloop.index + 1 }}):</strong><span>{{ room.room_type_name }} ({{ room.adults | pluralize: 'adult' }}, {{ room.children | pluralize: 'child' }}) - Price {{ room.price | format_money: '&euro;' }}</span></p>	
		{% if room.is_ticket_rate %}
			<p><strong>Tickets:</strong><span>{% for event in room.event_names -%}{{ room.people }} ticket(s) for {{ event }} on {{ reservation.arrival_date | format_date_to: 'eu' }}{% endfor -%}</span></p>	
		{% endif %}
	 {% endfor -%}
	<p><strong>Total price:</strong>{{ reservation.sell_price | format_money: '&euro;' }}</p>	  
	{% if reservation.deposit_charged %}<p class="clearfix"><strong>Deposit:</strong>{{ reservation.deposit | format_money: '&euro;' }}</p>{% endif %}
	{% endfor -%}
</div>

<h2>Customer Details</h2>
<div class="box">
	<p><strong>First name:</strong>{{ contact.first_name }}</p>
	<p><strong>Last name:</strong>{{ contact.last_name }}</p>
	<p><strong>Address 1:</strong>{{ customer.address1 }}</p>
	<p><strong>Address 2:</strong>{{ customer.address2 }}</p>
	<p><strong>City:</strong>{{ customer.city }}</p>
	<p><strong>Postcode:</strong>{{ customer.postcode }}</p>
	<p><strong>Country:</strong>{{ customer.country }}</p>
	<p><strong>Email:</strong>{{ contact.email }}</p>
	<p><strong>Phone:</strong>{{ contact.phone }}</p>
	<p><strong>I would like to receive updates and news:</strong> &nbsp;{{ contact.ezine }}</p>
	{% if group_id != null -%}
		<p><strong>Group reservation id:</strong>{{ group_id }}</p>
	{% endif -%}
</div>


<!-- Google Code for Booking Confirm Page Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1071788436;
var google_conversion_language = "en_GB";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "hIiPCOicRRCU44j_Aw";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1071788436/?label=hIiPCOicRRCU44j_Aw&amp;guid=ON&amp;script=0"/>
</noscript>
