<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% assign common_version = 'v_001' %}
		<!-- assign test_asset = "http://vz-assets.s3.amazonaws.com/roomsandevents/abberley/skin_1/"	-->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta content="Oriana Pagano, Jesus Burgos Macia - Visrez" name="author" />
		<title>Abberley Court Hotel</title>
		<meta name="keywords" content="Abberley Court Hotel" />
		<meta name="Description" content="The Abberley Court Hotel located in Dublin, Tallaght offers unbeaten comfort in stylish surroundings." />

		<!-- STYLESHEETS -->
			{{ "website" | style_sheet }}
			{{ "standard" | style_sheet }}
			<link href="{{ "stylesheets/modalbox.css" | common_asset: common_version }}" media="screen" rel="stylesheet" type="text/css" />
			<link href="{{ "stylesheets/jscalendar/calendar-win2k-cold-2.css" | common_asset: common_version }}" media="screen,projection" rel="stylesheet" type="text/css" />
			{{ "custom" | style_sheet }}

			<link href="{{ "stylesheets/print.css" | common_asset: common_version }}" media="print" rel="stylesheet" type="text/css" />
			{{ "print.custom.css" | style_sheet }}


		<!-- SCRIPTS -->
			{{ "prototype" | google_include }}
			{{ "scriptaculous" | google_include }}
			<!-- script src="/skin/javascripts/lib/validationhints.js" type="text/javascript"></script -->
			<script src="{{ "javascripts/application.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/calendar.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/calendar-setup.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/calendar-en.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/sxmglobalfunctions.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/validation.js" | common_asset: common_version }}" type="text/javascript"></script>
			<script src="{{ "javascripts/modalbox.visrez.js" | common_asset: common_version }}" type="text/javascript"></script>

			{{ content_for_header }}
	</head>
	<body>
		<!-- www.abberley.ie == abberley.ie
		www.abberley.ie == abberley.om.visrez.com
		www.abberley.ie == abberleyapartments.ie
		www.abberley.ie == abberleyapts.om.visrez.com
		-->     
		{% if third_party.is_set %}<div id="thirdparty">Booking as 3th party: {{ third_party.name }}</div>{% endif %}
		<div id="wrapper">
							<div id="flags" align="right">
									<a href="http://www.abberley.ie/">
											<img src="{{ "images/website/flag_en.gif" | skin_asset }}" alt="English" border="0" /></a>
									
									<a href="http://www.abberley.ie/index_ger.aspx">
											<img src="/skin/images/website/flag_ger.gif" alt="Deutsch" border="0" /></a>
									
									<a href="http://www.abberley.ie/index-it.aspx">
											<img src="/skin/images/website/flag_it.gif" alt="Italiano" border="0" /></a>
									
									<a href="http://www.abberley.ie/french.aspx">
											<img src="/skin/images/website/flag_fr.gif" alt="English" border="0" /></a>
							
									<a href="http://www.abberley.ie/spanish.aspx">
											<img src="/skin/images/website/flag_sp.gif" alt="Espa&ntilde;ol" border="0" /></a>
									
							</div>

					
								<div id="menubar">
										<ul>
										<li><a href="http://www.abberley.ie/" title="Home">Home</a></li><li><a href="http://www.abberley.ie/hotel.aspx" title="Hotel">Hotel</a></li><li><a href="#" title="Book">Book</a></li><li><a href="http://www.abberley.ie/specials.aspx" title="Specials">Specials</a></li><li><a href="http://www.abberley.ie/location.aspx" title="Location">Location</a></li><li><a href="http://www.abberley.ie/amenities.aspx" title="Amenities">Amenities</a></li><li><a href="http://www.abberley.ie/gallery.aspx" title="Gallery">Gallery</a></li><li><a href="http://www.abberley.ie/dublin_events.aspx" title="Calendar of Events">Calendar of Events</a></li><li><a href="http://www.abberley.ie/contact.aspx" title="Contact">Contact</a></li></ul>
								</div>

					<div id="banner"> </div>
								
					<div id="mainContent">
						<div id="pageContent">
												{% include 'modules/search' -%} 
											<div id="content">
													<div id="booking">{{ content_for_layout }}</div>
											</div>
				
										</div>

					</div><!-- mainContent -->
					<div id="footer">
						<p><strong>&copy; 2007 | Abberley Court Hotel, Belgard Road, High Street, Tallaght Town Centre, Dublin 24, Ireland</strong><br /> <strong>Tel:</strong> +353 1 4596000<strong> - Fax:</strong> +353 1 4621000<strong> - E-mail:</strong> <a href="mailto:info@abberley.ie">info@abberley.ie</a> <br style="clear: both;" /></p>
					</div>
		</div>
		{{ google_analytics_code }}
		
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.visrez.com/" : "http://piwik.visrez.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
piwik_action_name = '';
piwik_idsite = 1;
piwik_url = pkBaseURL + "piwik.php";
piwik_log(piwik_action_name, piwik_idsite, piwik_url);
</script>
<object><noscript><p>Web analytics <img src="http://piwik.visrez.com/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript></object>
<!-- End Piwik Tag -->		
	</body>
</html>
